# MySQL 테이블 생성 및 데이터 입력 방법

In [ ]:
!pip install pymysql> /dev/null

In [ ]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

In [ ]:
import json
with open(filename) as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [ ]:
import pymysql
conn = pymysql.connect(
    host=config['host'], 
    user=config['user'], 
    password=config['password'], 
    database=config['database'], 
    port=config['port']
)

## 테이블 생성

In [ ]:
cur = conn.cursor()
sql_create_table = '''
  create table if not exists users (
    uid varchar(20) not null primary key,
    pwd char(44) not null,
    uname varchar(20) not null,
    email varchar(40),
    reg_date datetime default current_timestamp,
    is_deleted int DEFAULT 0
  );
'''

In [ ]:
cur.execute(sql_create_table)

0

## 데이터 추가

In [ ]:
cur=conn.cursor()
sql_insert="INSERT INTO users(uid,pwd,uname) VALUES('admin', '1234','관리자');"
cur.execute(sql_insert)

1

In [ ]:
sql_select='select * from users;'
cur.execute(sql_select)
row = cur.fetchone()

In [ ]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 4, 30, 24), 0)

In [ ]:
# 데이터를 하드 디스크에 쓰게하는 명령
conn.commit()

* 여러개의 데이터 추가

In [ ]:
sql_multi_insert= """
  INSERT INTO users(uid,pwd,uname) VALUES
    ('eskim', '1234','김은숙'),('wjlee','1234','이우정');
"""

In [ ]:
cur.execute(sql_multi_insert)
conn.commit()

* **Placeholder**

In [ ]:
sql_insert_ph = "INSERT INTO users(uid,pwd,uname) VALUES(%s,'1234',%s);"
uid, uname= 'djy', '대조영'
cur.execute(sql_insert_ph, (uid,uname))
conn.commit()

* 여러개의 데이터를 placeholder를 이용해서 추가

In [ ]:
users =(('gdhong', '홍길동'),('jbpark','박재범'))
cur.executemany(sql_insert_ph, users)
conn.commit()

* **for 반복문**을 이용해서 여러 데이터 추가

In [ ]:
# for 문을 이용해서 여러 데이터 입력받기
users =(('yurilee', '이유리'),('yunao','오윤아'))
for user in users:
  cur.execute(sql_insert_ph,user)
conn.commit()

## 마무리

In [ ]:
cur.close()
conn.close()