### 은행 계좌 클래스 만들기

속성 

- ano: 문자열 6글자, '123456'
- owner : 문자열
- balance : 잔액, 비공개 속성 ### Method
- 생성자
- deposit(amount)잔액이 1000만원 이상이면 입금할 수 없음
- withdraw(amount) 잔액이 0원 미만이면 출금할 수 없
- 출력 가능하게 기록

In [21]:
class Account:
  def __init__(self, ano, owner, balance):
    self.ano = ano
    self.owner = owner
    self.__balance = balance
  
  def deposit(self, amount):
    if self.__balance + amount >= 1000000000:
      print('입금할 수 없습니다. 10000만원이상 불가능')
      return
    self.__balance += amount
  
  def withdraw(self, amount):
    if self.__balance-amount < 0:
      print('출금이 불가능합니다. 잔액 부족')
      return
    self.__balance -= amount
  
  def __str__(self):
    return f'계좌번호 : {self.ano}, 소유주: {self.owner}, 잔액:{self.__balance}'

In [22]:
acc1 = Account('123456', '홍길동', 3000000)
print(acc1)

계좌번호 : 123456, 소유주: 홍길동, 잔액:3000000

In [23]:
acc2 = Account('234567', '김나은', 5000000)
print(acc2)

계좌번호 : 234567, 소유주: 김나은, 잔액:5000000

In [24]:
acc_list = [acc1, acc2]

In [25]:
for account in acc_list:
  print(account)

계좌번호 : 123456, 소유주: 홍길동, 잔액:3000000
계좌번호 : 234567, 소유주: 김나은, 잔액:5000000

### 은행 계좌 개설 및 입,출금 프로그램 만들기
1: 계좌생성
2: 계좌목록
3: 입금
4: 출금
5: 종료

In [26]:
def create_account():
  s = input('계좌번호 성명 금액 > ').split()
  ano, owner = s[0], s[1]
  amount = int(s[2])

  acc = Account(ano,owner,amount)
  acc_list.append(acc)

In [18]:
def deposit_account():
  s = input('계좌번호 금액 > ').split()
  ano, amount = s[0], int(s[1])
  for acc in acc_list:
    if acc.ano == ano:
      acc.deposit(amount)
      return

In [19]:
def withdraw_account():
  s = input('계좌번호 금액 > ').split()
  ano, amount = s[0], int(s[1])
  for acc in acc_list:
    if acc.ano == ano:
      acc.withdraw(amount)
      return

In [20]:
while True:
  menu = int(input('1: 계좌생성 2: 계좌목록 3: 입금 4: 출금 5: 종료> ' ))
  if menu == 5:
    break
  if menu == 1:
    create_account()
  elif menu ==2:
    for account in acc_list:
      print(account)
  elif menu ==3 :
    deposit_account()
  elif menu ==4 :
    withdraw_account()
  else:
    print('잘못된 메뉴입니다')
  
  print()

1: 계좌생성 2: 계좌목록 3: 입금 4: 출금 5: 종료> 3
계좌번호 금액 > '345678'  5000000
8500000 입금되었습니다.

1: 계좌생성 2: 계좌목록 3: 입금 4: 출금 5: 종료> 4
계좌번호 금액 > '345678' 2500000
6000000 출금되었습니다.

1: 계좌생성 2: 계좌목록 3: 입금 4: 출금 5: 종료> 5