# Unit29. 함수

## 29.1 추력 함수 만들기

In [1]:
def hello():
  print('Hello, world!')

In [2]:
hello()

Hello, world!

## 29.2 덧셈 함수

In [3]:
# 매개변수, parameter, argument
def add(a,b):
  print(a+b)

In [4]:
add(4,5), add(10,20)

9
30

(None, None)

In [5]:
# Docstrings
def add(a,b):
  '''
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  '''
  print(a+b)

In [6]:
# 도움말 호출
add?

## 29.3 결과값 반환

In [7]:
def add(a,b):
  return a+b

In [9]:
add(4,5), add(10,20)

(9, 30)

In [11]:
x =add(23, 45)
x

68

In [13]:
def is_ten(x):
  return x ==10

In [14]:
is_ten(101/10)

False

In [19]:
def not_ten(x):
  if x==10:
    return
  else:
    print('It is not 10.')

In [20]:
def not_ten(x):
  if x==10:
    return    # 반환 이외의 역할을 수행함
  print('It is not 10.')

In [21]:
not_ten(5)

It is not 10.

## 29.4 여러 개의 결과값 반환

In [22]:
def add_sub(a,b):
  return a+b, a-b

In [23]:
x,y = add_sub(15,7)

In [24]:
x,y

(22, 8)

## 29.5 함수의 호출 과정

In [25]:
# stack을 이용

### 연습문제
- 3 자리수 정수 두개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?

In [77]:
def is_palindrome(x):
  s= str(x)
  return s == s[::-1]

In [81]:
max, n, m = 0,0,0

for i in range(100,1000):
  for k in range(100,1000):
    if is_palindrome(i*k):
      if i*k > max:
        max = i*k
        n = i
        m = k

print(f'{n}X{m} = {max}')

913X993 = 906609