# Unit 32. 람다함수 - 익명(Anonymous)함수

In [1]:
def plus_ten(x):
  return x+10

In [2]:
plus_ten(5)

15

In [5]:
plus_ten2 = lambda x: x+10 
plus_ten2(5)

15

In [7]:
(lambda x: x+10)(5)

15

In [8]:
# 어디에 사용하면 좋을꼬?
# map함수의 함수영역 

list(map(lambda x: int(x)+10, input().split()))

2 5 10

[12, 15, 20]

### 제약사항

In [9]:
# 람다함수에서 변수를 만들 수 없음
(lambdax: y=10; x+y)(3)

SyntaxError: ignored

In [11]:
y= 10
(lambda x:x+y)(3)

13

### 조건부 함수

In [18]:
 a = list(range(1,11))
 list(map(lambda x: str(x) if x%3==0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [23]:
# 리스트 a에서 3의배수는 문자열로, 5의배수는 실수로 변환
list(map(lambda x: str(x) if x%3==0 else float(x) if x%5==0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [24]:
 a =[1,2,3,4,5]
 b= [6,7,8,9,10]

 list(map(lambda x,y: x*y, a,b))

[6, 14, 24, 36, 50]

### filter

In [25]:
a = list(range(1,11))
list(filter(lambda x: 4<= x < 8, a))

[4, 5, 6, 7]