# Unit 10. 리스트와 튜플

## 10.1 리스트 (List)

In [1]:
a = [ 38, 21,53,62, 19]
a

[38, 21, 53, 62, 19]

In [3]:
# 파이썬에서 리스트를 저장할때, 리스트 요소(List element)가 다른 자료형도 가능
person = ['James', 19, 175.4, True, [210, 80]]
person

['James', 19, 175.4, True, [210, 80]]

In [6]:
#위의 person과 같이 여러 자료형을 함께 넣을때는 dictionary 유형을 쓰는 것을 권장

person_dict = {'name':'james', 'age':19, 'height':175.4, 
               'is_male':True, 'bp': [120, 80]}           #dictionary는 순서가 보장되지 않음
person_dict

{'age': 19, 'bp': [120, 80], 'height': 175.4, 'is_male': True, 'name': 'james'}

### 빈 리스트 만들기

In [7]:
a = []
b= list()
a,b

([], [])

In [8]:
a, b = [], []

### range
- 연속된 숫자를 생성, 범위를 지정
- range([시작숫자,] 끝나는 숫자+1)
- range([시작숫자,] 끝나는 숫자+1, [증가폭])
- 시작 숫자를 정하지 않은 경우 : 0 으로 시작함

In [9]:
a= range(10)
a

range(0, 10)

In [10]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# 1~10까지 홀수
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
# 2~ 10까지 짝수
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [15]:
#증가폭을 음수로 지정하면 해당 값 만큼 숫자가 감소함

list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- 안에 저장된 요소를 변경, 추가, 삭제 할 수 없다 **
- Read-only 특성 (변경 불가)

In [17]:
a=(38, 21,47)
a

(38, 21, 47)

In [35]:
# 괄호가 없어도 tuple

a= 38,21,47
a

(38, 21, 47)

In [21]:
#list와 마찬가지로 여러 자료형을 섞어서 저장 가능

person = ('James', 19, 175.4, True, [210, 80])
person

('James', 19, 175.4, True, [210, 80])

In [22]:
a = tuple()
a

()

In [23]:
# scalar (sigle element) 값
a = (38)
a

38

In [24]:
# tuple로 출력하기 위해서는 ,(콤마)를 함께 사용해서 출력
a= (38,)
a

(38,)

In [25]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 < -- > 튜플

In [26]:
a = [1, 3, 4]
b= tuple(a)
b

(1, 3, 4)

In [27]:
c= list(b)
c

[1, 3, 4]

### 문자열

In [29]:
# 문자 하나 하나가 리스트, 튜플의 요소로 들어가서 만들어짐
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [30]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

### 언팩킹(Unpacking)

In [33]:
# tuple element의 개수와 변수의 개수가 동일하면 unpacking 가능
a= (1,3,4)
x,y,z =a
x,y,z

(1, 3, 4)

In [34]:
# list unpacking
x,y,z = [1,3,5]
x,y,z

(1, 3, 5)