# Unit14. else

In [1]:
x = 5
if x == 10:
  print('10입니다.')
else:
  print('10이 아닙니다')

10이 아닙니다

### 3항 연산자
- Java: a = (조건 ) ? 참일때의 값 : 거짓일 때의 값
- Python: a = 참일때의 값 if 조건 else 거짓일때의 값

In [3]:
x = 1

if x % 2 ==0:
  y='even'
else:
  y='odd'
  
y

'odd'

In [5]:
x=4
y= 'even' if x%2 ==0 else 'odd'. #3항 연산자 (conditional expression)
y

'even'

In [18]:
# 90점 이상이면 'A', 80 ~ 89 :'B', 70~79 :'C', 60~69 :'D', ~59: F

score = int(input('점수 입력: '))

if score >= 92:
    grade ='A'
else: 
  if score >= 80:
    grade ='B'
  else:
    if score >=70:
      grade='C'
    else:
      if score >= 60:
        grade ='D'
      else:
        grade ='F'

print(grade)

점수 입력: 82
B

In [19]:
grade = 'A' if score >=90 else \
            'B' if score >= 80 else\
                 'C' if score >=70 else\
                     'D' if score >=60 else 'F'

grade

'B'

조건식에서의 논리 연산자

In [20]:
x = 5
if x > 0 and x< 10:
  print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.

In [22]:
if 0 < x < 10:
   print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.