* 참고 : 파이썬으로 시작하는 데이터사이언스 
    * 2.1 - 데이터 분석을 위한 파이썬 속성코스

### Boolean 
- 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있다 
- True, False를 사용함으로 명시적으로 표현한다

In [1]:
# 1. True를 출력하기 
True

True

In [2]:
# False 출력하기 
False

False

In [3]:
# 3. True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
True == 1

True

In [6]:
# 4. 하지만 True는 문자 1과 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True == '1'

False

In [7]:
# 5. 문자열 1과 True는 다릅니다.
True != 1

False

* and, or

In [8]:
# 8. and 연산으로 True 값 끼리 비교합니다.
#    and는 모든 값이 True 일때만 True가 됩니다.

True and True

True

In [9]:
# 9. and는 조건 중 하나라도 False라면 False가 됩니다.

True and False

False

In [11]:
# 10. or은 하나만 True 라도 True가 됩니다.
True or False

True

### 데이터 전처리시 자주 사용하는 문법

#### String (문자열)

In [12]:
# til 이라는 변수에 문자열을 담아봅니다.
til = "Today I Learned"
til

'Today I Learned'

In [13]:
# 모두 소문자로 만들어 보세요.
til.lower()

'today i learned'

In [14]:
# 모두 대문자로 만들어 보세요.
til.upper()

'TODAY I LEARNED'

In [19]:
# 주소를 address 변수에 담습니다.
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [20]:
# 앞뒤 공백을 제거합니다.
# 데이터 전처리 시 주로 사용합니다.

address = address.strip()
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [21]:
# 문자열의 길이
len(address)

33

In [22]:
# 공백으로 문자열 분리
address_list = address.split()
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [23]:
#리스트 길이
len(address_list)

8

#### Slicing, Startwith, in을 통해 문자열에 특정 문자가 있는지 확인하기

In [25]:
# 슬라이싱으로 '경기' 가져오기
address[:2]

'경기'

In [26]:
# startswith를 사용하면 특정 문자가 포함되는지 여부를 확인할 수 있습니다.
address.startswith('경기')

True

In [27]:
# in을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
'경기' in address

True

#### List

In [15]:
# 비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다.
lang = []
lang

[]

In [16]:
# python, java, c를 원소에 추가합니다.
lang.append("python")
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

In [18]:
# lang이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져옵니다.
# 마지막 인덱스 = -1
lang[0], lang[1], lang[2], lang[-1]

('python', 'java', 'c', 'c')

In [28]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu라는 변수에 담아보세요.
gu = address_list[2]
gu

'분당구'

In [29]:
# 리스트의 마지막을 가져옵니다.
address_list[-1]

'16층'

In [30]:
# "  ".join(리스트)를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.

' '.join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [31]:
# in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기"가 리스트에 포함되는지를 봅니다.

'경기' in address_list          # list에서는 full-name을 적어야한다

False

In [32]:
'분당구' in address_list

True

#### for 반복, 조건문 사용

In [33]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.

for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 c

In [34]:
# 특정 횟수만큼 반복문을 실행하도록 합니다. 
count = len(lang)

for i in range(count):
    print(lang[i])

python
java
c

In [35]:
# 특정 횟수만큼 반복문을 실행하도록 합니다. 
#range 사용 

for i in range(5):
    print(i)

0
1
2
3
4