# 4가지 데이터 파일의 중복을 제거한 후 통합 저장

In [3]:
from google.colab import files
filenames = []
for _ in range(4):
  uploaded= files.upload()
  filenames.append(list(uploaded.keys())[0])

Saving 1_crawling_jejudoGwanGwang.xlsx to 1_crawling_jejudoGwanGwang (1).xlsx

Saving 1_crawling_jejudoMatJip.xlsx to 1_crawling_jejudoMatJip (1).xlsx

Saving 1_crawling_jejuMatJip.xlsx to 1_crawling_jejuMatJip (1).xlsx

Saving 1_crawling_jejuYeoHang.xlsx to 1_crawling_jejuYeoHang (1).xlsx

In [4]:
filenames

['1_crawling_jejudoGwanGwang.xlsx',
 '1_crawling_jejudoMatJip.xlsx',
 '1_crawling_jejuMatJip.xlsx',
 '1_crawling_jejuYeoHang.xlsx']

In [5]:
import pandas as pd

df = pd.read_excel(filenames[0])
df.head()

                                             content  ...                                               tags
0  더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...  ...  ['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가...
1  12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...  ...  ['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#...
2  11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...  ...  ['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',...
3  국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...  ...  ['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'...
4  #제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...  ...  ['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추...

[5 rows x 5 columns]

In [7]:
jeju_df = pd.DataFrame([])
for fname in filenames:
  df= pd.read_excel(fname)
  jeju_df = jeju_df.append(df)

jeju_df.shape

(12780, 5)

In [8]:
jeju_df.head()

                                             content  ...                                               tags
0  더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...  ...  ['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가...
1  12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...  ...  ['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#...
2  11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...  ...  ['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',...
3  국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...  ...  ['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'...
4  #제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...  ...  ['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추...

[5 rows x 5 columns]

In [10]:
# 중복 데이터 제거
jeju_df.drop_duplicates(subset=['content'], inplace=True)
jeju_df.to_csv('제주핫플레이스.csv', index=False)

In [11]:
jeju_df.shape

(8369, 5)

In [12]:
jeju_df.tail()

                                                content  ...                                               tags
1702  Now it's purple😆💜수색 넘 이쀼리 🤭 올해는 아퓨지말구 즐거운 일만 가...  ...  ['#일상', '#구기자', '#티타임', '#2019', '#새해', '#차스타그...
1703  .간다간다간다#제주 #친정여행 #겨울방학 #제주여행앞머리는 괜히 전날 잘라서 또순이...  ...  ['#제주', '#친정여행', '#겨울방학', '#제주여행앞머리는', '#친정찬스'...
1705  2019년 모두 복 많이많이 받고 풍요로운 한해 보내길 ♥️#사진좀찍으시는님덕에건져...  ...                         ['#사진좀찍으시는님덕에건져또', '#이순간']
1706  2018.12.25 ⠀룸에 의자가 두개 밖에 없어서 ⠀이현이는 유모차에 앉아서 식사...  ...                                                 []
1707  .2019년 첫날디스이즈핫에서 새해를 맞이하시는 손님들께 떡국을 준비했습니다.한 해...  ...                          ['#HappyNewYearEveryone']

[5 rows x 5 columns]

In [13]:
df= pd.read_csv('제주핫플레이스.csv')
df.head()

                                             content  ...                                               tags
0  더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...  ...  ['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가...
1  12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...  ...  ['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#...
2  11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...  ...  ['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',...
3  국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...  ...  ['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'...
4  #제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...  ...  ['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추...

[5 rows x 5 columns]

In [14]:
df.tail()

                                                content  ...                                               tags
8364  Now it's purple😆💜수색 넘 이쀼리 🤭 올해는 아퓨지말구 즐거운 일만 가...  ...  ['#일상', '#구기자', '#티타임', '#2019', '#새해', '#차스타그...
8365  .간다간다간다#제주 #친정여행 #겨울방학 #제주여행앞머리는 괜히 전날 잘라서 또순이...  ...  ['#제주', '#친정여행', '#겨울방학', '#제주여행앞머리는', '#친정찬스'...
8366  2019년 모두 복 많이많이 받고 풍요로운 한해 보내길 ♥️#사진좀찍으시는님덕에건져...  ...                         ['#사진좀찍으시는님덕에건져또', '#이순간']
8367  2018.12.25 ⠀룸에 의자가 두개 밖에 없어서 ⠀이현이는 유모차에 앉아서 식사...  ...                                                 []
8368  .2019년 첫날디스이즈핫에서 새해를 맞이하시는 손님들께 떡국을 준비했습니다.한 해...  ...                          ['#HappyNewYearEveryone']

[5 rows x 5 columns]