# Unit 8. 불(Bool)과 비교, 논리 연산자

### 문제 :표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.

In [7]:
kor, eng, math, sci=map(int, input('국어, 영어, 수학, 과학 점수> ').split())

print(kor>= 90 and eng > 80 and math >85 and sci >= 80)

100 90 90 80
True

# Unit 9. 문자열

### 문제 : 다음 소스 코드를 완성하여 실행 결과대로 문자열이 출력되게 만드세요.

In [13]:
s=''''Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''

print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

# Unit 10. 리스트 와 튜플

### 문제 : 표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요.

In [17]:
step = int(input('증가폭> '))

tuple(range(-10,10, step ))

증가폭> 3

(-10, -7, -4, -1, 2, 5, 8)

# Unit 11. 시퀀스 자료형

### 문제 : 표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [45]:
x = input().split()
del x[-5:]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

# Unit 12. 딕셔너리

### 문제 :표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

In [56]:
string = input( ).split()
number = map(float, input( ).split( ))

a= dict(zip(string,number))
print(a)

health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}

# Unit 13. if 조건문

### 문제 : 표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요.

In [58]:
price = int(input('가격 > '))
coupon = input('쿠폰 종류> ')

if coupon == 'Cash3000':
  total = price - 3000
if coupon == 'Cash5000':
  total= price-5000

total

가격 > 27000
쿠폰 종류> Cash3000

24000

In [61]:
price = int(input( ))
coupon = input( )

if coupon == 'Cash3000':
  price-= 3000
if coupon == 'Cash5000':
  price-= 5000

print(price)

가격 > 50000
쿠폰 종류> Cash5000

45000

# Unit 14. else 구문

### 문제 : 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요. 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [69]:
kor, eng, math, sci=map(int, input('국어, 영어, 수학, 과학 점수> ').split())
avg= (kor + eng + math+ sci) / 4
# score = list(map (int, input('국어, 영어, 수학, 과학 점수> ').split()))
# avg= sum(score)/len(score)

if  0 <= kor <= 100 and 0 <= eng <= 100 and 0 <= math <= 100 and 0 <= sci <= 100 :
  if avg >= 80:
    print('합격')  
  else: 
    print('불합격')
else:
  print('잘못된 점수')

국어, 영어, 수학, 과학 점수> 100 200 300 400
잘못된 점수