문자열이 저장된 words.txt 파일이 주어집니다(문자열은 한 줄로 저장되어 있습니다). <br>
words.txt 파일에서 문자 c가 포함된 단어를 각 줄에 출력하는 프로그램을 만드세요.<br>
 단어를 출력할 때는 등장한 순서대로 출력해야 하며 ,(콤마)와 .(점)은 출력하지 않아야 합니다.

In [2]:
file = open('words.txt', 'w')    # hello.txt 파일을 쓰기 모드(w)로 열기. 파일 객체 반환
file.write('Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.')      # 파일에 문자열 저장
file.close()

In [34]:
with open('words.txt', 'r') as file:
  for line in file:
    words= line.split( )
    for word in words:
      if 'c' in word:
        print(word.strip(',.'))

dictator
subjects
change
costume
elegance
accepted

표준 입력으로 숫자 두 개가 입력됩니다. 
<br>다음 소스 코드를 완성하여 두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과가 출력되게 만드세요.<br>
이때 나눗셈의 결과는 실수라야 합니다.

In [38]:
x, y = map(int, input().split())

def calc(x,y):
  return x+y, x-y,x*y, float(x/y)

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

10 20
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. <br>
다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요.<br>평균 점수는 실수로 출력되어야 합니다.

In [68]:
korean, english, mathematics, science = map(int, input().split())
score = [korean, english, mathematics, science]

def get_min_max_score(*args):
  return min(*args), max(*args)

def get_average(**kwargs):
  return sum(kwargs.values())/len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

76 82 89 84
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [69]:
def factorial(n):
  if n == 0:
    return 1
  return n * factorial(n-1)

In [70]:
factorial(4)

24

표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30). 다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 출력되게 만드세요.

피보나치 수는 0과 1로 시작하며, 다음 번 피보나치 수는 바로 앞의 두 피보나치 수의 합입니다.

In [72]:
def fib(n): 
  if n == 2 or n == 1:
    return 1
  return fib(n-1)+fib(n-2)

n = int(input())
print(fib(n))

10
55

In [73]:
10

10