## Unit 22
### 문제 : 표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요. 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [5]:
start, stop= map(int, input().split())

s_list= [2**i for i in range(start, (stop+1))]
s_list.pop(1), s_list.pop(-2)
s_list

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

## Unit 19.
### 표준 입력으로 삼각형의 높이가 입력됩니다. 입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요. 이때 출력 결과는 예제와 정확히 일치해야 합니다. 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.

In [12]:
height = int(input())

for i in range(height):
    for _ in range((height-1)-i):
        print(' ', end=' ')
    for _ in range((2*i)+1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [20]:
#교과서 풀이
height = int(input()) 

for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(height):
        if j < i:
            print('*', end='')
    print()

  *
 ***
*****

## Unit 18
### 표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [32]:
start, stop= map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i +=1
        continue
    if i > stop:
        break
    print(i, end=' ')
    i += 1

10 11 12 14 15 16 17 18 19 20

## Unit 17
###표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [37]:
amount = int(input())

while amount >= 1350:
        amount -= 1350
        print(amount)

8650
7300
5950
4600
3250
1900
550

In [3]:
amount = int(input())

fare =1350
while amount-fare>= 0:
    amount -= fare
    print(amount)

8650
7300
5950
4600
3250
1900
550

## Unit 16
### 표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [39]:
i = int(input())

for k in range(1,10):
    print(f'{i} * {k} = {i*k}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## Unit 15
### 표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원 <br>
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원 <br>
어른(일반, 만 19세 이상): 1,250원 <br>

In [42]:
age = int(input())
balance = 9000    # 교통카드 잔액

if 7 <= age <= 12 :
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
else:
    balance -= 1250
print(balance)

7950

## 추가문제 1
a + b + c= 1000    (a<b<c) <br>
<br>
(a*a) * (b*b) = (c*c) 인 피타고라스 수는?

In [6]:
for a in range(1,333):
    for b in range(a+1,500):
        c = 1000 - a -b
        if (a*a)+(b*b)== (c*c):
            print(a,b,c)

200 375 425

In [242]:
for a in range(1,1000):
    for b in range(a+1,1000):
        c = 1000-a-b
        if (a*a)+(b*b)==(c*c):
            print(a,b,c)

200 375 425

## 추가문제 2
본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [15]:
from datetime import date
today = date.today()
year, month, day = map(int,input().split())

age= 0 
if today.year > year : 
    if today.month > month and today.day > day:
        age = today.year - year
    else:
        age = today.year - year 
print(age)

23

디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.

In [244]:
time = [ ]
time_in_sec = 0

for hour in range(24):
    for minuite in range(60):
        if hour % 10 == 3 or minuite in range(30,40) or minuite % 10 ==3:
            x=(hour, minuite)
            time.append(x)
            time_in_sec += 60
            
print(time_in_sec)

29700

In [257]:
time = [ ]
time_in_sec = 0

for hour in range(24):
    for minuite in range(60):
        if '3' in str(hour) or '3' in str(minuite):
            x=(hour, minuite)
            time.append(x)
            time_in_sec += 60
            
print(time_in_sec)

29700