# Unit 6. 변수와 입력 사용하기

## 6.1 변수 (variable)
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [ ]:
x=10
x

10

In [ ]:
s= 'Hello'
s
#변수 유형 파악
type(s)

str

In [ ]:
#변수 여러 개를 한 번에 만들기
x,y,z=10,20,30
x,y,z

(10, 20, 30)

In [ ]:
x=y=z=10
x,y,z

(10, 10, 10)

In [ ]:
# 변수를 삭제할 때 사용한다
del z
print(z)            #변수가 삭제되었다는 error 발생

NameError: ignored

In [ ]:
# 빈 변수 만들기, 값이 들어있지 않는 변수
x =None
print(x)

None

### 6.2 변수로 계산

In [ ]:
a = 10
a= a + 10 #프로그램에서 자주 사용되는 코드 
a

20

In [ ]:
a = 10
a += 10   # a = a+10
a

20

In [ ]:
sum, prod = 0, 1    #최초 값을 할당해야함 
for i in range(1,11):
  sum += i
  prod *= i

sum, prod

(55, 3628800)

### 6.3 입력 (input)

In [ ]:
s= input()

hello, world!

In [ ]:
s

'hello, world!'

In [ ]:
x= input('1에서 10사이의 정수값> ')   #prompt

1에서 10사의 정수값> 7

In [ ]:
# 입력한 두 정수의 합
a= int(input ('첫번째 정수'))
b= int(input ('두번째 정수'))

a+b

첫번째 정수10
두번째 정수0

10

In [ ]:
a= (input ('첫번째 정수'))
b= (input ('두번째 정수'))

int(a)+int(b)

첫번째 정수10
두번째 정수20

30

### 6.4 입력값 두개

In [ ]:
s.split()

['hello,', 'world!']

In [ ]:
a,b= s.split()
a,b

('hello,', 'world!')

In [ ]:
a,b,c= 'A quick brown'.split()
a,b,c

('A', 'quick', 'brown')

In [41]:
a, b = input('정수 두개 입력> ').split()

정수 두개 입력> 10 20

In [42]:
a= int(a)
b= int(b)
a+b

30

In [43]:
a,b = input('정수 두개 입력, comma로 구분하세요.> ').split(',')
a=int(a)
b= int(b)
a+b

정수 두개 입력, comma로 구분하세요.> 10,20

30

### map 활용
- 리스트 각 엘리먼트(element)에 지정한 함수를 적용

In [44]:
a,b= map(int, [10.2, 11.4])
a,b

(10, 11)

In [45]:
a, b = map(int, input('정수 두개 입력> ').split())
a+b

정수 두개 입력> 10 20

30