# Unit16. for 반복문

##16.1 for와 range

In [1]:
for i in range(10):
  print('Hello, World')

Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World
Hello, World

In [2]:
for i in range(10):
  print(i, 'Hello, World')

0 Hello, World
1 Hello, World
2 Hello, World
3 Hello, World
4 Hello, World
5 Hello, World
6 Hello, World
7 Hello, World
8 Hello, World
9 Hello, World

In [4]:
for _ in range(5):      # 변수가 있는건 알지만, _더미를 사용할거야 
  print('Hello, World')

Hello, World
Hello, World
Hello, World
Hello, World
Hello, World

## 16.2 for와 range 응용

In [5]:
for i in range(6, 10):
  print(i, 'Hello, World')

6 Hello, World
7 Hello, World
8 Hello, World
9 Hello, World

In [6]:
for i in range(0, 10, 2):
  print(i, 'Hello, World')

0 Hello, World
2 Hello, World
4 Hello, World
6 Hello, World
8 Hello, World

In [8]:
for i in range(10, 0, -2):
  print(i, 'Hello, World')

10 Hello, World
8 Hello, World
6 Hello, World
4 Hello, World
2 Hello, World

In [11]:
for i in range(1, 101):
  print('Fizz'*(i%3==0) + 'Buzz'*(i %5==0) or i, end= ' ')
  if (i %10 ==0):
    print()

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz
11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz
Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz
31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz
41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz
Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz
61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz
71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz
Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz
91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

## 16.3 시퀀스 객체 반복
- 반복문 구문들과 궁합이 잘 맞는다

In [13]:
fruits = ['apple', 'banana', 'cherry']
for element in fruits:
  print(element)

apple
banana
cherry

In [15]:
# 의미를 갖는 변수명으로 정해준다 

fruit_list = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [17]:
for letter in 'Python':
  print(letter, end= ' ')

P y t h o n

In [19]:
# 문자를 뒤집어 준다

for letter in reversed('Python'):
  print(letter, end =' ')

n o h t y P

In [20]:
for number in (10,20, 30):
  print(number)

10
20
30

### Perfect Number
- 자기자신을 제외한 약수의 합이 자기자신과 같은 수 
- 6의 약수 : 1, 2, 3,6
- 6 = 1 + 2 + 3
- 10000이하의 자연수 중에서는 4개가 존재

In [46]:
for i in range (2,10001):
  sum_of_divisor = 0
  for k in range(1, i):
    if i % k == 0:
      sum_of_divisor += k

  if i == sum_of_divisor:
    print(i)

6
28
496
8128